* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: url(IMG-20240921-WA0011.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
}
#header {
  background-color: transparent;
  top: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  background-color: transparent;
  padding: 20px;
  position: relative;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-right: 22px;
}
nav a {
  color: rgb(29, 253, 5);
  text-decoration: none;
  transition: color 0.2s ease;
}
nav a:hover {
  color: rgb(249, 136, 6);
}
.bi-icon {
  display: none;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.cs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.cs img {
  height: 250px;
  width: 250px;
}
.contact-right form input, .contact-right form textarea {
  width: 100%;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: white;
  border-radius: 6px;
}
.social-media {
  display: flex;
  justify-content: space-evenly;
  margin-top: 55px;
}
.footer {
  background: rgba(28, 15, 15, 0.702);
}


